@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    font-family: "Inter";
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid yellowgreen; */
}

main {
    border: 1px solid black;
    display: flex;
    max-width: 1000px;
    width: 95%;
    border-radius: 8px;
    background-color: hsl(244, 38%, 16%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

#stats span:last-of-type {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: "Lexend Deca";
    font-size: 0.95rem;
}

#purple {
    color: hsl(277, 64%, 61%);
}

#details {
    padding: 65px;
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-image {
    width: 48%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img,
#purple-overlay {
    border-radius: 0 8px 8px 0;
}

#purple-overlay {
    background-color: hsl(277, 100%, 40%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.4;
}

h1 {
    font-size: 2.35rem;
    margin-bottom: -10px;
}

p {
    line-height: 25px;
}

#stats {
    display: flex;
    justify-content: space-between;
}

#stats span {
    display: block;
}

.number {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5px;
}

#stats div:last-of-type {
    margin-right: 40px;
}

@media (max-width: 1012px) {

    h1 {
        font-size: 3.4vw;
    }

    #details {
        padding: 5.2vw;
    }

}

@media (max-width: 952px) {

    h1 {
        font-size: 3.3vw;
    }

}

@media (max-width: 802px) {

    p {
        font-size: 1.7vw;
        line-height: 3vw;
    }

}